.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
    padding: 5px 5px;
}

.logo {
    height: 75px;
    width: 75px;
    background-size: cover;
}

.image {
    border-radius: 50%;
}